.button {
    all: unset;
    display: inline-block;
    cursor: pointer;

}
.svgContainer {
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg {
    position: absolute;
    z-index: 0;
}
.like {
    z-index: 1;
}
.button.active .bg {
    fill: #303030;

}

.button.active .like {
    stroke: var(--white);
}